<p id="notice"><%= notice %></p>

<h1> <%= @user.username %></h1>


<h2> <%= @user.username %>'s Boats</h2>

<%# @user.posts.each do |post| %>
<!-- <p><%= link_to post.title, post_path(post) %></p> -->
<%# end %>	

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
